{% extends 'cashflow/base-cashflow.html' %}
{% load i18n %}

{% block user_menu1 %}
  <li><a class="text-header">{{am}}</a> <!--логин зашедшего (НЕ ВСЕГДА РАБОТАЕТ!)-->
    <ul>
      <li><a class="text-header" href="#">{% trans "Submenu 1" %}</a></li>
      <li><a class="text-header" href="#">{% trans "Submenu 2" %}</a></li>
      <li><a class="text-header" href="../../accounts/logout">{% trans "Log Out" %}</a></li>
    </ul>
  </li>
{% endblock user_menu1 %}

{% block site_menu %}
<li><a class="menu-sel">{% trans "Accomodations" %}</a></li>
<li><a class="menu-text" href="#">{% trans "Anything else" %}</a></li>
{% endblock site_menu %}

{% block content %}
<p> {% blocktrans %}Administrator name: {{am}}{% endblocktrans %}</p>
<p> {% trans "Here there will be a list of administrator's accomodations in the form of pictures with signatures" %}</p>

{% for accomodation in accomodations %}
    <div>
      <hr>
      <h3><a href="#">{{ accomodation.name }}</a></h3>
      <br>
      <q>{{ accomodation.descript }}</q>
      <p>owner: {{ accomodation.owner }} administrator: {{ accomodation.admin }} </p>

        <!--<h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>-->
    </div>
{% endfor %}
  <hr>

<p><a class="text-header" href="/accomodation/new/">{% trans "Add new accomodation" %}</a></p>
{% endblock content%}
