{% extends 'cashflow/base-cashflow.html' %} <!-- cashflow/base-cashflow.html или base.html -->
{% block site_menu %}
<li><a class="menu-sel">Управление домом</a></li>
<li><a class="menu-text" href="#">Помощь в аренде</a></li>
<li><a class="menu-text" href="#">Что-н. еще</a></li>
<li><a class="menu-text" href="#">Что-н. еще</a></li>
{% endblock site_menu %}

{% block content %}
<!--     <section class="content-2 col-4" id="features1-108" style="background-color: rgb(239, 239, 239);">-->
<p>{{user.email}}</p>
<p>index</p>
{% endblock content%}
